- const homeLink = '#hero'
- const aboutLink = '#about'
- const featuresLink = '#features'
- const clientsLink = '#clients'
- const teamLink = '#team'
- const meetLink = '#contact-home'
- const opinionsLink = '#opinions'
doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="OIA - Marketing Solutions | We're all about making your online presence shine. Whether you're just starting out or already a big player, we've got your back with fresh and creative strategies to get you noticed. From social media to search engine smarts, we've got the tools and the team to help your business grow online.")
    link(rel="shortcut icon", href="assets/images/favicon.ico", type="image/x-icon")
    include ./includes/stylesheets
    title OIA - Marketing Solutions
  body
    .wrapper#homePage
      main
        include ./includes/navbar
        include ./includes/hero
        include ./includes/about
        include ./includes/features
        include ./includes/clients
        include ./includes/team
        include ./includes/contact
        include ./includes/opinions
        include ./includes/footer

//- pug "H:\OAI Omar yehia\index.pug" -w -o "H:\OAI Omar yehia"