section.about#about
  .container
    .stats
      p(data-translate="about-title").a TOTAL REVENUE GENERATED
      p(data-translate="about-number").title $118 THOUSAND
      .cards
        .card
          p(data-translate="about-card1").name CLIENT HELPED
          p(class="number", data-goal="11") 11
        .card
          p(data-translate="about-card2").name TOTAL AD SPEND
          p.number.money $
            span(class="number", data-goal="22") 22
        .card
          p(data-translate="about-card3").name OFFICES
          p(class="number") 0
        .card
          p(data-translate="about-card4").name SERVICES OFFER
          p(class="number", data-goal="5") 5
    .content(data-aos="fade-up")
      p(data-translate="about-text").a ABOUT US
      p(data-translate="about-description").b Our philosophy is simple yet powerful: we believe in the transformative potential of digital marketing to empower businesses of all sizes. We're committed to delivering excellence through a combination of creativity, innovation, and genuine care for our clients' success.
      p(data-translate="about-notice").c Need a boost to your company ?
      a(href="contact.html")
        button
          p(data-translate="about-btn-text").text  CONTACT THE TEAM
          p(data-translate="about-btn-description").description Schedule a FREE call now