section.clients#clients
  .container
    .content
      p(data-translate="clients-title").title Big names that trust us
      p(data-translate="clients-description").description We're honored to work with some of the biggest names in the industry who trust us to elevate their digital presence.
    .cards
      .row
        .card(data-aos="fade-up", data-aos-delay="0")
          .icon
            img(src="assets/images/Sajem.webp", alt="Client Img")
          .data
            p.name SAJEM
            p.job Fragrances
            p.region KSA
        .card(data-aos="fade-up", data-aos-delay="150")
          .icon
            img(src="assets/images/Menatlity.webp", alt="Client Img")
          .data
            p.name MENTALITY
            p.job Clinic
            p.region ARE
      .row
        .card(data-aos="fade-up", data-aos-delay="300")
          .icon
            img(src="assets/images/Edutudy.webp", alt="Client Img")
          .data
            p.name EDUTUDY
            p.job Educational
            p.region TRKY
        .card(data-aos="fade-up", data-aos-delay="450")
          .icon
            img(src="assets/images/Alemny.webp", alt="Client Img")
          .data
            p.name ALLEMNY
            p.job Education
            p.region KW
      //- .row
      //-   .card(data-aos="fade-up", data-aos-delay="600")
      //-     .icon
      //-       img(src="assets/images/moon.webp", alt="Client Img", class="moon")
      //-     .data
      //-       p.name Moon Wings
      //-       p.job Clothing
      //-       p.region KSA
      //-   .card(data-aos="fade-up", data-aos-delay="750")
      //-     .icon.umran
      //-       img(src="assets/images/umran.webp", alt="Client Img")
      //-     .data
      //-       p.name UMRAN
      //-       p.job Clothing
      //-       p.region EG