section.contact-home#contact
  .container
    .card
      .header
        .data
          .icon
            img(src="assets/images/omar-full.webp", alt="Card Logo")
          .info
            p.name Omar Umran
            p.job CEO & FOUNDER
        .logo 
          img(src="assets/images/blue-logo.webp", alt="Logo")
      .body
        p(data-translate="contact-card-title").title SCHEDULE A FREE CALL WITH OMAR
        p(data-translate="contact-card-description").description By the conclusion of this demo call, you will have a thorough understanding of the actionable steps your business can implement to achieve consistent and reliable outcomes online through strategic Digital Marketing. We will explore the effective use of Funnels and Paid Advertising, providing you with a clear roadmap to enhance your digital marketing strategies.
        .wrapper
          ul
            p(data-translate="contact-items-title").ul-title THIS CALL IS PERFECT FOR :
            li.item(data-aos="fade-up", data-aos-delay="0")
              p(data-translate="contact-item1") Businesses wanting to turn their website into a high-converting funnel using digital marketing.
            li.item(data-aos="fade-up", data-aos-delay="150")
              p(data-translate="contact-item2") Offline businesses ready to go online with effective digital marketing strategies.
            li.item(data-aos="fade-up", data-aos-delay="300")
              p(data-translate="contact-item3") Companies aiming to boost revenue with sales funnels and conversion optimization.
            li.item(data-aos="fade-up", data-aos-delay="450")
              p(data-translate="contact-item4") Those looking to improve conversion rates and order value through targeted paid ads.
            li.item(data-aos="fade-up", data-aos-delay="600")
              p(data-translate="contact-item5") Businesses seeking a reliable agency with expertise in digital marketing and paid advertising.
          a(href="contact.html")
            button
              p(data-translate="contact-card-btn").text SCHEDULE A CALL NOW