svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1440 320', class="feature-top-wave")
  path(fill='var(--bg-color-dark)', fill-opacity='1', d='M0,160L48,176C96,192,192,224,288,224C384,224,480,192,576,176C672,160,768,160,864,186.7C960,213,1056,267,1152,261.3C1248,256,1344,192,1392,160L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z')
section.features#features
  .container
    .content
      p(data-translate="features-title").a OH WAIT...
      p(data-translate="features-description").b What do we provide ?
      p(data-translate="features-item").title DIGITAL MARKETING
      .digital-card
        .icon
          i.fa-solid.fa-chart-simple
      p(data-translate="features-item-description1").description(data-aos="fade-up", data-aos-delay="0") At OIA Media, we specialize in digital marketing strategies that boost your online visibility and sales. Our expertise includes smart use of social media, effective SEO, and strategic paid advertising to help your business thrive in the digital world.
      p(data-translate="features-item-description2").description(data-aos="fade-up", data-aos-delay="150") We view our relationship with you as a partnership, customizing our approaches to meet your unique needs. This involves a sharp focus on paid ads, where we target your potential customers precisely to ensure that your investment yields maximum returns.
      p(data-translate="features-item-description3").description(data-aos="fade-up", data-aos-delay="300") Committed to your success, we aim to enhance your online presence and increase sales through a blend of organic and paid strategies. Let's collaborate to make your brand stand out and drive higher sales with effective digital marketing. Talking about Return on Ad Spend (ROAS), if we don't generate more sales than you spend, you get your money back — that's a guarantee.
    .test
      p(data-translate="features-items-title").title We also provide much more
      p(data-translate="features-items-description").description Of course your organization needs a stunning look, you just don’t worry about it, It’s on US!
      .cards
        .card(data-aos="fade-left", data-aos-delay="0")
          .icon
            i.fas.fa-fingerprint
          p(data-translate="features-card1").name BRANDING
        .card(data-aos="fade-left", data-aos-delay="150")
          .icon
            i.fas.fa-globe
          p(data-translate="features-card2").name WEB DEVELOPMENT
        .card(data-aos="fade-left", data-aos-delay="300")
          .icon
            i.far.fa-circle-play
          p(data-translate="features-card3").name CONTENT CREATION
        .card(data-aos="fade-left", data-aos-delay="450")
          .icon
            i.fab.fa-facebook
          p(data-translate="features-card4").name SOCIAL MEDIA MANAGEMENT
svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1440 320',class="feature-down-wave")
  path(fill='var(--bg-color-dark)', fill-opacity='1', d='M0,160L48,176C96,192,192,224,288,224C384,224,480,192,576,176C672,160,768,160,864,186.7C960,213,1056,267,1152,261.3C1248,256,1344,192,1392,160L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z')