span#scroll-up
  i.fas.fa-angles-up
footer
  .container
    .content
      p(data-translate="footer-title").title We do grant things together !
      p(data-translate="footer-description").description If you want to speak to our expert team kindly reach us via email at: oiamediaofficial@gmail.com
    .btns
      a(href="contact.html")
        button(type='submit', class="contact-btn")
          p(data-translate="footer-btn1-text").text CONTACT THE TEAM
          p(data-translate="footer-btn1-description").description Schedule a FREE call now
      p(data-translate="footer-divider") or
      a(href="hire.html")
        button(type='submit', class="hire-btn")
          p(data-translate="footer-btn2-text").text GET HIRED
          p(data-translate="footer-btn2-description").description Join our team now
    .social-platforms
      .platform
        a(href="https://www.instagram.com/oiamedia.ar/" target="_blank")
          i(class="fa-brands fa-instagram" style="color: var(--text-color-light);")
      .platform
        a(href="https://wa.me/+201015870312" target="_blank")
          i(class="fa-brands fa-whatsapp" style="color: var(--text-color-light);")
      .platform
        a(href="https://www.facebook.com/profile.php?id=61556020247187" target="_blank")
          i(class="fa-brands fa-facebook" style="color: var(--text-color-light);")
      .platform
        a(href="https://twitter.com/oiamedia_" target="_blank")
          i(class="fa-brands fa-x-twitter" style="color: var(--text-color-light);")
      .platform
        a(href="https://www.tiktok.com/@oiamedia" target="_blank")
          i(class="fa-brands fa-tiktok" style="color: var(--text-color-light);")
      .platform
        a(href="https://www.linkedin.com/in/oia-media-837a482b4/" target="_blank")
          i(class="fa-brands fa-linkedin" style="color: var(--text-color-light);")
    .rights
      .icon
        img(src="assets/images/logo.webp", alt="OIA Media")
      p 
        span(data-translate="footer-number") Company number 
        a(href="tel:+201015870312") +201015870312
      p(data-translate="footer-rights") © All rights reserved.
      .developer
        p(data-translate="dev") This website was developed by :
        a(href="https://www.linkedin.com/in/abd-ul-rhman-nasr-3b9304232/") Abd Ul-Rhman Nasr


// ----- Font Awesome Library -----
script(src="assets/libraries/js/all.min.js") 

// ----- Aos Library -----
script(src="assets/libraries/js/aos.js") 

// ----- Stylesheets -----
script(src="assets/js/script.js")
//- script(src="assets/js/index.js")
//- script(src="assets/js/services.js")
//- script(src="assets/js/contact.js")
//- script(src="assets/js/hire.js")