section.hero#hero
  .container
    .content(data-aos="fade-right")
      h1(data-translate="hero-title").title Welcome to OIA
      p(data-translate="hero-description1").description1 We're all about making your online presence shine. Whether you're just starting out or already a big player, we've got your back with fresh and creative strategies to get you noticed.
      p(data-translate="hero-description2").description2 From social media to search engine smarts, we've got the tools and the team to help your business grow online.
      p(data-translate="hero-description3").slogan Let's make magic happen together at OIA Media!
      a(href="contact.html")
        button
          p(data-translate="hero-btn-text").text  CONTACT THE TEAM
          p(data-translate="hero-btn-description").description Schedule a FREE call now
    .hero-img
      img(src="assets/images/dart_pc.webp", alt="Hero Landing Image", class="dart_pc")
      img(src="assets/images/dart_phone.webp", alt="Hero Landing Image", class="dart_phone")