section.opinions#opinions
  .container
    p(data-translate="opinion-title").title Client's opinions about us
    .cards
      .row
        .card(data-aos="fade-up", data-aos-delay="0")
          .data
            .icon 
              img(src="assets/images/Sajem.webp", alt="image")
            .about
              p.name Sajem
              p.job Fragrances | KSA
          p(data-translate="opinion-card1").description Their service boosted our sales. Worth the investment.
        .card(data-aos="fade-up", data-aos-delay="150") 
          .data
            .icon 
              img(src="assets/images/Menatlity.webp", alt="image")
            .about
              p.name MENTALITY
              p.job Clinic | ARE
          p(data-translate="opinion-card2").description They responded to our needs quickly. Very cooperative team.
      .row
        .card(data-aos="fade-up", data-aos-delay="300") 
          .data
            .icon 
              img(src="assets/images/Edutudy.webp", alt="image")
            .about
              p.name EDUTUDY
              p.job Educational | TRKY
          p(data-translate="opinion-card3").description Amazed by their creative ideas. Completely different marketing.
        .card(data-aos="fade-up", data-aos-delay="450") 
          .data
            .icon 
              img(src="assets/images/Alemny.webp", alt="image")
            .about
              p.name ALLEMNY
              p.job Education | KW
          p(data-translate="opinion-card4").description Tangible and fast results. Clear improvement in our digital presence.
      //- .row
      //-   .card(data-aos="fade-up", data-aos-delay="600") 
      //-     .data
      //-       .icon 
      //-         img(src="assets/images/moon.webp", alt="image")
      //-       .about
      //-         p.name Moon Wings
      //-         p.job Clothing | KSA
      //-     p(data-translate="opinion-card5").description Their prices are fair for the quality. Excellent value for money.
      //-   .card(data-aos="fade-up", data-aos-delay="750") 
      //-     .data
      //-       .icon 
      //-         img(src="assets/images/umran.webp", alt="image")
      //-       .about
      //-         p.name UMRAN
      //-         p.job Clothing | EG
      //-     p(data-translate="opinion-card6").description They exceeded our expectations with their personalized service. We felt in safe hands.