svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1440 320', class="team-top-wave")
  path(fill='var(--bg-color-dark)', fill-opacity='1', d='M0,256L48,240C96,224,192,192,288,160C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z')
section.team#team
  .container
    p(data-translate="team-title").title MEET THE A-TEAM
    .cards
      .row
        .card(data-aos="fade-up", data-aos-delay="0")
          .icon 
            img(src="assets/images/omar.webp", alt="Team Member")
          .about
            p.name Omar Umran
            p.job CEO & FOUNDER
      .row
        .card(data-aos="fade-down", data-aos-delay="150") 
          .icon 
            img(src="assets/images/mostafa.webp", alt="Team Member")
          .about
            p.name Mostafa Yasser
            p.job Creative Director
        .card(data-aos="fade-up", data-aos-delay="300") 
          .icon 
            img(src="assets/images/abdo.webp", alt="Team Member")
          .about
            p.name Abdelrahman Samir
            p.job Chief Marketing Officer
      .row
        .card(data-aos="fade-down", data-aos-delay="450") 
          .icon 
            img(src="assets/images/abdo2.webp", alt="Team Member")
          .about
            p.name(dir="ltr") Abdelrahman M.
            p.job Sales Agent
        .card(data-aos="fade-up", data-aos-delay="600") 
          .icon 
            img(src="assets/images/fatema.webp", alt="Team Member")
          .about
            p.name Fatma
            p.job Copywriter
    .description
      p(data-aos="fade-up", data-aos-delay="0", data-translate="team-description1") Dive into a world where unparalleled talent meets unmatched experience. Our A-Team is the core of our agency, boasting a collective 10 years of expertise across various industries. We're a dynamic group of visionaries, each selected for our unique skills and dedication to excellence.
      p(data-aos="fade-up", data-aos-delay="150", data-translate="team-description2") Our broad spectrum of knowledge empowers us to deliver innovative solutions that redefine standards. Whether it's digital marketing, business strategy, or creative execution, we're at the cutting edge, Ensuring our clients not to only keep the pace but lead the pack.
      p(data-aos="fade-up", data-aos-delay="300", data-translate="team-description3") Partnering with us means joining forces with a team dedicated to your success. We blend collaboration with proven methods to turn challenges into triumphs.
      p(data-aos="fade-up", data-aos-delay="450", data-translate="team-description4") Experience the future of digital success with the A-Team.

svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1440 320', class="team-down-wave")
  path(fill='var(--bg-color-dark)', fill-opacity='1', d='M0,128L48,154.7C96,181,192,235,288,224C384,213,480,139,576,112C672,85,768,107,864,133.3C960,160,1056,192,1152,181.3C1248,171,1344,117,1392,90.7L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z')